1a.c
2b.c
3c.c
4d.c
5e.c
6f.c
7g.c
8h.c
9i.c
10j.c
11k.c
12l.c
13m.c
15n.c
16o.c
17p.c
18q.c
19r.c
20s.c
to
0-isupper.o
0-memset.o
0-strcat.o
1-isdigit.o
1-memcpy.o
1-strncat.o
100-atoi.o
2-strchr.o
2-strlen.o
2-strncpy.o
3-islower.o
3-puts.o
3-strcmp.o
3-strspn.o
4-isalpha.o
4-strpbrk.o
5-strstr.o
6-abs.o
9-strcpy.o
_putchar.o